@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer base {
  body {
      @apply bg-[--background] text-slate-900 dark:text-slate-200;
  }
  h1 {
    @apply text-4xl mb-8 font-[family-name:var(--font-pacifico)];
  }
  h2 {
    @apply text-3xl mb-4 font-[family-name:var(--font-pacifico)];
  }
  h3 {
    @apply text-2xl mb-2 font-[family-name:var(--font-pacifico)];
  }
  p {   
    @apply p-1;
  }
  ul {
    @apply mb-12 list-disc list-outside pl-4;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
